<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>

		<pipelines>
			<httpRequestBegin>

				<processor type="Solr_Search_Application.HttpRequestProcessor404,Solr Search Application"
				patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
			</httpRequestBegin>
		</pipelines>

	</sitecore>
</configuration>