@{
    //  var item = Sitecore.Context.Database.GetItem("/sitecore/content/Blog/Website Settings/Local Settings");
    var item = Sitecore.Context.Database.GetItem("{E90A3045-AA41-4E3E-AE05-67DB21ABFD27}");
}


<div class="container">
    <div class="jumbotron text-white bg-primary">
        <h1 class="display-3"> @Html.Sitecore().Field("BlogMainTitle", item)</h1>
        <p class="lead">  @Html.Sitecore().Field("BlogSubTitle", item)</p>
    </div>
</div><!-- <a href="https://jss.sitecore.com/" class="text-light">Sitecore</a> /.container -->
